body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 16px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

h1 {
    margin-bottom: 20px;
    color: #d66e6e;
    font-weight: 600;
    font-size: 20px;
}

#quote {
    margin-bottom: 20px;
    color: #555;
    min-height: 50px;
}

button {
    padding: 10px 20px;
    background: #eeffca;
    color: #629c3e;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 14px;
}

button:hover {
    background: #d9ffb7;
}
